<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An AngularJS project skeleton authored in CoffeeScript with Angular, jQuery, Bootstrap, AngularStrap, and Karma.">
    <title>LeanStacks | AngularJS SPA Demo Project</title>

    <link href="assets/app/css/app.css" rel="stylesheet">
  </head>
  <body>

    <header id="header" ng-include="'assets/app/partials/header.html'" ng-controller="HeaderController"></header>

    <section id="main" ng-controller="GreetingController">

      <div>
        <label for="greeting-sort">Sort:</label>
        <select id="greeting-sort" ng-model="greetingSort">
          <option value="text">Alphabetical</option>
          <option value="lang">Language</option>
        </select>
      </div>

      <div>
        <label for="greeting-filter">Filter:</label>
        <input type="text" id="greeting-filter" placeholder="type to filter list" ng-model="greetingFilter" />
      </div>

      <ul>
        <li ng-repeat="greeting in greetings | filter:greetingFilter | orderBy:greetingSort">{{greeting.lang}}: {{greeting.text}}</li>
      </ul>

    </section>

    <footer id="footer" ng-include="'assets/app/partials/footer.html'" ng-controller="FooterController"></footer>

    <script src="assets/lib/jquery-2.1.4.min.js"></script>
    <script src="assets/lib/angular-1.4.8.min.js"></script>
    <script src="assets/app/js/app-0.1.0.min.js"></script>

  </body>
</html>
